@media all and (min-width: 1550px) and (max-width: 1920px) {
  .content {
    position: absolute;
    z-index: 0;
  }
  .content2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .kaihu {
    z-index: 1;
    width: 2.9rem;
    height: .56rem;
    text-align: center;
    line-height: .56rem;
    background: red;
    margin-top: 6rem;
  }
  .kaihu:hover {
    background: #bc8c44;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: .26rem;
    font-weight: bold;
  }
  a:link {
    text-decoration: none;
    color: white;
  }
  a:visited {
    text-decoration: none;
    color: white;
  }
  a:active {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: gray;
  }
}
@media all and (min-width: 1023px) and (max-width: 1550px) {
  .content {
    position: absolute;
    z-index: 0;
  }
  .content2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .kaihu {
    z-index: 1;
    width: 2rem;
    height: .4rem;
    text-align: center;
    line-height: .4rem;
    background: red;
    margin-top: 4.5rem;
  }
  .kaihu:hover {
    background: #bc8c44;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: .20rem;
    font-weight: bold;
  }
  a:link {
    text-decoration: none;
    color: white;
  }
  a:visited {
    text-decoration: none;
    color: white;
  }
  a:active {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: gray;
  }
}
@media all and (min-width: 960px) and (max-width: 1023px) {
  .content {
    position: absolute;
    z-index: 0;
  }
  .content2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .kaihu {
    z-index: 1;
    width: 2rem;
    height: .4rem;
    text-align: center;
    line-height: .4rem;
    background: red;
    margin-top: 3rem;
  }
  .kaihu:hover {
    background: #bc8c44;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: .20rem;
    font-weight: bold;
  }
  a:link {
    text-decoration: none;
    color: white;
  }
  a:visited {
    text-decoration: none;
    color: white;
  }
  a:active {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: gray;
  }
}
@media all and (min-width: 541px) and (max-width: 959px) {
  .content {
    position: absolute;
    z-index: 0;
  }
  .content2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .kaihu {
    z-index: 1;
    width: 1.2rem;
    height: .3rem;
    text-align: center;
    line-height: .3rem;
    background: red;
    margin-top: 3rem;
  }
  .kaihu:hover {
    background: #bc8c44;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: .15rem;
    font-weight: bold;
  }
  a:link {
    text-decoration: none;
    color: white;
  }
  a:visited {
    text-decoration: none;
    color: white;
  }
  a:active {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: gray;
  }
}
@media all and (min-width: 321px) and (max-width: 540px) {
  .content {
    position: absolute;
    z-index: 0;
  }
  .content2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .kaihu {
    z-index: 1;
    width: 1.2rem;
    height: .35rem;
    text-align: center;
    line-height: .35rem;
    background: red;
    margin-top: 1.5rem;
  }
  .kaihu:hover {
    background: #bc8c44;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: .1rem;
    font-weight: bold;
  }
  a:link {
    text-decoration: none;
    color: white;
  }
  a:visited {
    text-decoration: none;
    color: white;
  }
  a:active {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: gray;
  }
}
@media all and (max-width: 320px) {
  .content {
    position: absolute;
    z-index: 0;
  }
  .content2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .kaihu {
    z-index: 1;
    width: 1.2rem;
    height: .35rem;
    text-align: center;
    line-height: .35rem;
    background: red;
    margin-top: 1.5rem;
  }
  .kaihu:hover {
    background: #bc8c44;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: .12rem;
    font-weight: bold;
  }
  a:link {
    text-decoration: none;
    color: white;
  }
  a:visited {
    text-decoration: none;
    color: white;
  }
  a:active {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: gray;
  }
}
.content {
  position: relative;
}
.div1:hover {
  background-color: #BB8C43;
  cursor: pointer;
}
.content2 {
  position: absolute;
  width: 100%;
  height: 500px;
}
.div1 {
  position: absolute;
  z-index: 1;
  line-height: 45px;
  width: 280px;
  height: 45px;
  bottom: 0;
  left: 45%;
  text-align: center;
  margin: auto;
  background: #f2a716 ;
  border-radius: 6px;
  color: white;
  font-size: 20px;
}
@media all and (max-width: 480px) {
  .content2 {
    position: absolute;
    width: 100%;
    height: 100px;
  }
  .div1 {
    position: absolute;
    z-index: 1;
    line-height: 15px;
    width: 70px;
    height: 15px;
    bottom: 0;
    left: 42%;
    text-align: center;
    margin: auto;
    background: #f2a716 ;
    border-radius: 6px;
    color: white;
    font-size: .01rem;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  .content2 {
    position: absolute;
    width: 100%;
    height: 200px;
  }
  .div1 {
    position: absolute;
    z-index: 1;
    line-height: 20px;
    width: 96px;
    height: 20px;
    bottom: 0;
    left: 43%;
    text-align: center;
    margin: auto;
    background: #f2a716 ;
    border-radius: 6px;
    color: white;
    font-size: .01rem;
  }
}
@media all and (min-width: 768px) and (max-width: 960px) {
  .content2 {
    position: absolute;
    width: 100%;
    height: 230px;
  }
  .div1 {
    position: absolute;
    z-index: 1;
    line-height: 22px;
    width: 105px;
    height: 22px;
    bottom: 0;
    text-align: center;
    margin: auto;
    background: #f2a716 ;
    border-radius: 6px;
    color: white;
    font-size: .01rem;
  }
}
@media all and (min-width: 960px) and (max-width: 1280px) {
  .content2 {
    position: absolute;
    width: 100%;
    height: 285px;
  }
  .div1 {
    position: absolute;
    z-index: 1;
    line-height: 30px;
    width: 142px;
    height: 30px;
    bottom: 0;
    left: 43%;
    text-align: center;
    margin: auto;
    background: #f2a716 ;
    border-radius: 6px;
    color: white;
    font-size: 15px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1440px) {
  .content2 {
    position: absolute;
    width: 100%;
    height: 355px;
  }
  .div1 {
    position: absolute;
    z-index: 1;
    line-height: 30px;
    width: 142px;
    height: 30px;
    bottom: 0;
    text-align: center;
    margin: auto;
    background: #f2a716 ;
    border-radius: 6px;
    color: white;
    font-size: 15px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1600px) {
  .content2 {
    position: absolute;
    width: 100%;
    height: 395px;
  }
  .div1 {
    position: absolute;
    z-index: 1;
    line-height: 35px;
    width: 165px;
    height: 35px;
    bottom: 0;
    text-align: center;
    margin: auto;
    background: #f2a716 ;
    border-radius: 6px;
    color: white;
    font-size: 15px;
  }
}
@media all and (min-width: 1600px) and (max-width: 1920px) {
  .content2 {
    position: absolute;
    width: 100%;
    height: 465px;
  }
  .div1 {
    position: absolute;
    z-index: 1;
    line-height: 38px;
    width: 208px;
    height: 38px;
    bottom: 0;
    text-align: center;
    margin: auto;
    background: #f2a716 ;
    border-radius: 6px;
    color: white;
    font-size: 18px;
  }
}
